@media screen and (max-width: 1000px) {
    header {
        >.left {
            >.items {
                display: none !important;
            }
        }
        >.right {
            img {
                &:first-of-type {
                    display: none;
                }
                &:last-of-type {
                    width: 50px;
                    display: flex !important;
                }
            }
        }
    }
    .load {
        .scanner {
            padding: 0 20px;
            width: 100% !important;
        }
    }
    .teams-inline {
        .top {
            h1 {
                font-size: 25px;
            }
            .controls {
                .new,
                .qrcode {
                    padding: 5px 10px !important;
                    font-size: 15px !important;
                }
            }
        }
        .bottom {
            .team-inline {
                flex-direction: column;
                h3 {
                    font-size: 20px;
                    margin-bottom: 10px;
                }
                .controls {
                    a {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}